node_modules
packages/**/.*rc
packages/**/.*rc.json
packages/**/.markdownlint.json
packages/**/*.config.*
packages/**/.*.config.*

!packages/browserslist-config/.browserslistrc
!packages/commitlint-config/.commitlintrc.json
!packages/eslint-config/.eslintrc.json
!packages/eslint-config/eslint.config.*
!packages/markdownlint-config/.markdownlint.json
!packages/prettier-config/.prettierrc.json
!packages/release-config/.releaserc.json
!packages/stylelint-config/.stylelintrc.json
